@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&family=Pacifico&display=swap");
.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}
.amaranth-regular {
  font-family: "Amaranth", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.amaranth-bold {
  font-family: "Amaranth", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.amaranth-regular-italic {
  font-family: "Amaranth", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.amaranth-bold-italic {
  font-family: "Amaranth", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.container {
  max-width: 1100px;
}

header {
  background-image: url(assets/header5.png);
  min-height: 600px;
  background-size: cover;
  /* Elemento padre relative */
  position: relative;
}

#productos-header {
  background-image: url(assets/fondo-brownies.png);
  min-height: 600px;
  background-size: cover;
  /* Elemento padre relative */
  position: relative;
}
#productos-header-cupcakes {
  background-image: url(assets/fondo-CUPCAKE.png);
  min-height: 600px;
  background-size: cover;
  /* Elemento padre relative */
  position: relative;
}
.btn {
  background-color: #704214;
  border-radius: 20px;
  color: #fff1e6;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
}
.btn:hover, .btn:active, .btn:focus {
  background-color: #aa7444 !important;
  color: #fff1e6 !important;
  font-weight: bold;
  border-color: transparent !important;
  outline: none !important;
}
.title {
  color: #cd8054;
  /* elemento hijo */
  position: absolute;
  top: 50%;
  transform: translateY(-20%);
}
.logo {
  width: 120px;
}
#frase1 {
  font-family: Pacifico;
  color: #704214;
  font-size: 50px;
}
#frase2 {
  font-family: "Amaranth", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #aa7444;
  font-size: 40px;
}
#frase3 {
  font-family: "Amaranth", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #230000;
  font-size: 20px;
}

#row-ordenar {
  background-color: #704214;
  color: #fff1e6;
  min-height: 600px;
}
.icons-ordenar {
  font-size: 400%;
  color: #fff1e6;
  padding: 10px 20px;
}

.row {
  margin: 0;
}

#row-nosotros {
  background-image: url(assets/fondo-claro2.png);
  min-height: 600px;
  background-size: cover;
  position: relative;
  padding-top: 100px !important;
  padding-bottom: 100px !important;
}

#row-nosotros img {
  width: 300px;
  border-radius: 50%;
}

.h1-fuente-fondo-oscuro {
  font-family: Pacifico;
  font-weight: 400;
  color: #fed6a9;
}
.h2-fuente-fondo-oscuro {
  font-family: "Amaranth", sans-serif;
  font-weight: 700;
  color: #fed6a9;
}
.h3-fuente-fondo-oscuro {
  font-family: "Amaranth", sans-serif;
  font-style: italic;
  color: #fed6a9;
  font-size: 130%;
}

.h4-fuente-fondo-oscuro {
  font-family: "Amaranth", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #fed6a9;
}
.h4-fuente-fondo-claro {
  font-family: "Amaranth", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #704214;
}
.p-fuente-fondo-oscuro {
  font-family: "Amaranth", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fff1e6;
}
.h1-fuente-fondo-claro {
  font-family: Pacifico;
  font-weight: 400;
  color: #704214;
}
.p-fuente-fondo-claro {
  font-family: "Amaranth", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #230000;
  font-size: 17px;
}
.card-title {
  font-weight: 400;
  font-style: normal;
  color: #704214;
}
.card-text {
  font-family: "Amaranth", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #704214;
}
#row-productos {
  background-color: #704214;
  min-height: 600px;
}
#row-productos btn {
  background-color: #704214;
  border-color: #704214;
}

#row-ubicacion {
  background-image: url(assets/fondo-ubicacion.png);
  background-size: cover;
  position: relative;
}

#row-frase {
  min-height: 600px;
}

.card-producto {
  background-image: url(assets/fondo-card.png);
  background-size: cover;
  border-top-left-radius: 150px;
  border-top-right-radius: 150px;
}

.description {
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}
@media (max-width: 767px) {
  .carousel-inner .carousel-item > div {
    display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
  #row-frase p {
    font-size: 27px !important;
  }
}
.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

@media (min-width: 768px) {
  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }

  .carousel-inner .carousel-item-start.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
}
.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
  transform: translateX(0);
}

#row-frase img {
  height: auto;
  width: 300px;
  margin-bottom: 0;
  margin-top: 15vh;
}
#row-frase p {
  font-family: Pacifico;
  font-weight: 400;
  font-style: normal;
  color: rgb(255, 241, 230);
  font-size: 50px;
  margin-bottom: 30vh;
}
#row-ubicacion iframe {
  max-height: 600px;
}

#media {
  background-color: #fed6a9;
}

#informacion {
  background-color: #704214;
}
#informacion i {
  color: #cd8054;
}

footer {
  background-color: #704214;
}

#media i {
  color: #704214;
}
.a-fuente-fondo-oscuro {
  font-family: "Amaranth", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fff1e6;
  text-decoration: none;
}
#copyright {
  background-color: #fed6a9;
  background-image: url(assets/fondo-card.png);
  color: #704214;
  font-family: "Amaranth", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.nav-link {
  color: #aa7444;
  font-family: "Amaranth", sans-serif;
  font-weight: 400;
}

.nav-link:hover {
  color: #704214;
  font-weight: 700;
}

@media (max-width: 768px) {
  .navbar-nav {
    background-color: transparent; /* Fondo del menú desplegable */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
  }
  .nav-item {
    border-bottom: 1px solid hsla(30, 70%, 26%, 0.13); /* Línea divisora */
  }
  .nav-link {
    color: #aa7444;
    font-family: "Amaranth", sans-serif;
    font-weight: 400;
  }
  .nav-link:hover {
    color: #704214;
    font-weight: 700;
  }
  nav {
    background-image: url(assets/header5.png);
  }
  #milista {
    text-align: center;
  }
  .navbar-toggler {
    border-width: 0px;
    border-color: transparent;
  }
  .navbar-toggler:active,
  .navbar-toggler:focus {
    background-color: #fed6a9;
  } /* Opcional: Cambiar el fondo del botón */
}
nav {
  z-index: 100;
}

#productos-section {
  background-image: url(assets/fondo-productos.png);
  background-size: cover;
}

#banner 
{
  background-color: #704214;
}
.card-body {
  background-color: transparent;
}
.card {
  background-color: transparent;
  border: 0px;
  max-width: 300px;
}


#seccion-contacto {
  background-color: #fff1e6;
}

.icon-custom-color {
  color: #704214;
}
input:focus, textarea:focus {
  border-color: rgb(170, 116, 68) !important;
  box-shadow: 0 0 5px rgba(170, 116, 68, 0.5) !important; 
  outline:#704214 !important; }